# DentalCore - Variables de entorno
APP_NAME="DentalCore"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=America/Tegucigalpa

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dental_core
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=DENTALSESS
SESSION_LIFETIME=7200

MAIL_FROM_ADDRESS=no-reply@dental.local
MAIL_FROM_NAME="DentalCore"
